<header id="topNav">
    <img src="https://images.unsplash.com/photo-1529473814998-077b4fec6770?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" width="100" alt="math header">
    <a href="/algebra"><button type="submit" name="algebraButton">Algebra</button></a>
    <a href="/calculus"><button onclick="/views/calculus.ejs" type="submit" name="calculusButton">Calculus</button></a>
    <a href="/resources"><button onclick="/views/resources.ejs" type="submit" name="resourcesButton">Resources</button></a>
    <a href="/calculator"><button onclick="/views/calculator.ejs" type="dropdown" name="calculatorButton">Calculator</button></a>
    <a href="/locator"><button onclick="/views/locator.ejs" type="submit" name="locatorButton">Locator</button></a>
    <!-- <input type="text" name="searchText" placeholder="SEARCH">
    <input type="submit" name="searchSubmit" onclick="/views/search.ejs"> -->
</header>