<header id="topNav">
    <img src="https://i.imgur.com/1VWNVG9.jpg" alt="math pi symbol logo" width="200">
    <a href="/classroom/algebra"><button type="submit" name="algebraButton">Algebra</button></a>
    <a href="/classroom/calculus"><button onclick="/views/calculus.ejs" type="submit" name="calculusButton">Calculus</button></a>
    <a href="/classroom/resources"><button onclick="/views/resources.ejs" type="submit" name="resourcesButton">Resources</button></a>
    <a href="/classroom/calculator"><button onclick="/views/calculator.ejs" type="dropdown" name="calculatorButton">Calculator</button></a>
    <a href="/classroom/locator"><button onclick="/views/locator.ejs" type="submit" name="locatorButton">Locator</button></a>
    <!-- <input type="text" name="searchText" placeholder="SEARCH">
    <input type="submit" name="searchSubmit" onclick="/views/search.ejs"> -->
</header>