<h1>Calculators page</h1>

<p>This is the grade calculation section. Use your number grade and decimal for the weight.</p>
<h2>Grade Calculator</h2>

<form action="#grade">
    <label for="category1"> Category 1 grade:</label><br>
    <input type="text" id="grade" name="grade1" value=""><br>
    <label for="category1"> Category 1 weight:</label><br>
    <input type="text" id="weight" name="weight1" value=""><br>
    <label for="category2"> Category 2 grade:</label><br>
    <input type="text" id="grade" name="grade2" value=""><br>
    <label for="category2"> Category 2 weight:</label><br>
    <input type="text" id="weight" name="weight2" value=""><br>
    <label for="category3"> Category 3 grade:</label><br>
    <input type="text" id="grade" name="grade3" value=""><br>
    <label for="category3"> Category 3 weight:</label><br>
    <input type="text" id="weight" name="weight3" value=""><br>
    <label for="category4"> Category 4 grade:</label><br>
    <input type="text" id="grade" name="grade4" value=""><br>
    <label for="category4"> Category 4 weight:</label><br>
    <input type="text" id="weight" name="weight4" value=""><br>
    <p><em>(if none type 0)</em></p>
    <input type="submit" value="Submit">
    <br>
    <label for="currentGrade"> <b>Current Grade:</b></label><br>
</form>

<hr>

<h2>Scientific/Graphing Calculator</h2>

<a href="https://www.desmos.com/scientific"><img src="https://play-lh.googleusercontent.com/xof5_jtVp5IOhmHi_DHYUd4C2Hw6SYwToHiffqpKXP6jR6xn0Sfkhjj6_DsVYFfd70kr" alt="desmos scientific calculator link"></a>
<br>
<a href="https://www.desmos.com/calculator"><img src="https://play-lh.googleusercontent.com/D9R7uT-u64HzMur04xJZJEaALJwIHUXLMMIFL0hp1351-eQLCzqc9s7i6xbkj6f6Bw" alt="desmos graphing calculator link"></a>
<br>

<a href="/classroom">Back to Home page</a>