<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>
    <title>Index page</title>
    <!-- //add <link> later -->
</head>
<body>
    <h1>All Courses!</h1>
    <p>Select one course to review details, edit, or delete!</p>
    <ul>
    <% allCourses.forEach(c => { %>
        <li id="courses-items">
           <a href="/classroom/<%= c._id %>"> Course: <%= c.name %> Topic: <%= c.topic %> Image: <%= c.image %></a><br>
        </li>

    <%})%>
    </ul>


    <a href="/classroom/newCourse"><button id="new-course-button">Create a new Course</button></a>
</body>
</html>
