<form id="new-form" action="/videos" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Creator:</label>
    <input type="text" name="creator">
    <label>URL:</label>
    <input type="text" name="URL">
</form>