<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Course</title>
</head>
<body>
    <h1>This is our new course page</h1>
    <form id="new-course-form" action="/classroom" method="POST">
        <h4>Add a New Course!</h4>
        <label>Name:</label>
        <input type="text" name="name"><br>
        <label>Topic:</label>
        <input type="text" name="topic"><br>
        <label>Image:</label>
        <input type="text" name="image"><br>
        <label>Lesson:</label>
        <input type="text" name="lesson"><br>
        <label>Reference:</label>
        <input type="text" name="reference"><br>
        <label>Example:</label>
        <input type="text" name="example"><br>
        <label>Video:</label>
        <input type="text" name="videoURL"><br>
        <input type="submit" value="Create course">
    </form>
    <a href="/classroom">Back to Home page</a>
</body>
</html>