<h1>Math resources</h1>
<hr>
<p>Look below and explore some math resources to supplement your learning!</p>
<div class="resources-buttons">
<p>Find lessons</p>
<a href="/classroom/study"><button>LESSONS</button></a><br>
<p>Add notes</p>
<a href="/classroom"><button>NOTES</button></a><br>
<p>Add assignments</p>
<a href="/classroom"><button>ASSIGNMENTS</button></a><br>
</div>
<br>

<a href="/classroom">Back to Home page</a>