<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/styles.css' />
  <title><%= title %></title>
</head>

<body>
  <nav>
    <img src="/images/video-play.jpeg">
    <a href="/videos/new" <%- title === 'Add Video' ? 'class="active"' : '' %>>ADD VIDEO</a>
    <a href="/videos" <%- title === 'All Videos' ? 'class="active"' : '' %>>ALL VIDEOS</a>
  </nav>

  <main>
    <h1><%= title %></h1>

