<form id="new-video-form" action="/videos/videos" method="POST">
    <h4>Add a New Video!</h4>
    <label>Title:</label>
    <input type="text" name="title">
    <label>Creator:</label>
    <input type="text" name="creator">
    <label>Length:</label>
    <input type="text" name="timelength">
    <label>URL:</label>
    <input type="text" name="URL">
    <input type="submit" name="submitButton">
</form>