<h1>Math videos</h1>
<hr>
<p>This is the videos page</p>

<table id="list">
    <thead>
     <tr>
         <th>Title</th>
         <th>Creator</th>
         <th></th>
     </tr>
    </thead>

    <tbody>
      <% videos.forEach(function(v) { %>
         <tr>
           <td><%= v.title %></td>
           <td><%= v.creator %></td>
           <td><a href="./videos/<%= v._id %>">DETAILS</a></td>
           <td><a href="">EDIT VIDEO</a></td>
           <td><a href="">DELETE VIDEO</a></td>

         </tr>

      <% }); %>

    </tbody>
</table>


<a href="/videos/new">Add a new video</a>